@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
    
     
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'roboto' , sans-serif;
}

header 
{
   
  
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    align-items: baseline;
   /* box-shadow: 0 2px 2px grey; */
    
}

main {
    flex: 1 0 auto;
    margin-top: 47px;
   

}



.navigation li {
    list-style-type: none;
    margin-bottom: 1em;
}

.navigation a {
    text-decoration: none;
    color: dimgray;
    font-family: 'roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 110%;
  
}
.active {
    border-bottom: 2px solid dimgray;
}

nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding:  0 1rem;
    display: none;
    top: 100%;

}

#nav-toggle:checked~nav {
    display: block;
} 
#nav-toggle {
    display: none;

}
.nav-toggle-label{
    font-size: 2rem;
    
}


.logo {
    width: 150px;
    height: 100px;
    padding-top: 10px;
   
   
}


@media screen and (min-width: 768px)  {
         nav {
            display: block;
            position: relative;
            width: fit-content;
            padding-right: 1rem ;
         } 

        .navigation  {
            display: flex;
            
        } 
    .navigation > li {
        padding-left: 1rem ;
    }

    .nav-toggle-label {
        display: none;
    }


}